# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env
.env.*
*.env

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE files
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Streamlit cache/config
.streamlit/

# Large raw dataset
# Keep this ignored if the CSV is too large for GitHub.
# The README should tell users to download it from Kaggle.
data/GlobalWeatherRepository.csv
data/*.csv

# Keep folder structure
!data/.gitkeep


# Model artifacts
*.pkl
*.joblib
*.sav

# Temporary files
tmp/
temp/
*.tmp